@charset "UTF-8";

*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body { /* Gradient Color */
    background: rgb(39,40,49);
    background: -moz-linear-gradient(90deg, rgba(39,40,49,1) 0%, rgba(4,52,50,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(39,40,49,1) 0%, rgba(4,52,50,1) 100%);
    background: linear-gradient(90deg, rgba(39,40,49,1) 0%, rgba(4,52,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#272831",endColorstr="#043432",GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav { /* Navigation Bar */
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(141, 116, 54); 
    color: #fff; 
    /* OCRB font */
        font-family: ocr-b-std, monospace;
        font-style: normal;
        font-weight: 400;
}

.logo img{ /* Logo PNG */
    max-width: 50%;
    height: auto;
}

.nav-links{ /* Navi bar */
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{ /* Delete dots */
    list-style: none;
}
.nav-links a{ /* Navi Text */
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 10px;
    font-weight: bold;
    font-size: 24px;
}

.nav-links a:hover {
    color: gold
}

.burger{ /* Click function */
    display: none;
    cursor: pointer;
}

.burger div{ /* Burger bar */
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.home-content { /* Home */
    text-align: center;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
    font-family: ocr-b-std, monospace;
    font-style: normal;
    color: rgb(231, 231, 231);
}

/* Header */

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-title {
    padding-top: 70vh;
    text-align: center;
    font-size: 2rem;
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(231, 231, 231);
}

.flavor-text {
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: bold;
    color: rgb(231, 231, 231);
    border-radius: 5px;
    background-color: rgba(4,52,50,1);
}

.button {
    font-size: 1.375rem;
    background: rgba(28, 121, 101, 0.452);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;

}

.text {
    font-size: 1.375rem;
    background: rgba(28, 121, 101, 0.336);
    color: #fff;
    border-radius: 5px;
    margin: 0px;
    padding: 18px 32px;
}

.button:hover {
    background: rgb(16, 97, 94);
}

/* PC Background Image */

.big-bg {
    background-size: cover;
    margin-top: 3rem;
    background-position: center;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/samplepics/SakuraMonika.png);
    min-height: 100vh;
}

#home-blur {
    background-image: url(../images/samplepics/SakuraMonikaBlur.png);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

img {
    border-radius: 50px;
}

/* Mobile ver */

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(141, 116, 54);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        position: relative;
        right: 2vh;
    }

    #home {
        background-image: url(../images/samplepics/SakuraMonikaMobile.png);
        min-height: 100vh;
    }

    .home-content img {
        width: 100%;
        height: auto;
    }

    #home-blur {
        background-image: url(../images/samplepics/SakuraMonikaMobileBlur.png);
        min-height: 100vh;    
    }

    #home .page-title {
        text-transform: none;
    }
}

/* Animations */

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}